.main-app {
    display: flex;
    height: 90vh;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 5vh;
}

.main-app > * {
    padding: 2rem;
    border: 2px solid #1a1a1a;
    position: relative;
    background: #fff;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
  }
  .main-app > *:first-child {
    min-width: 300px;
  }
  .main-app > *:nth-child(2) {
    border-left: 0;
    border-right: 0;
    min-width: 300px;
  }
  .main-app > *:last-child {
        flex-shrink: 1;
        flex-basis: 50%;
  }
  header.head {
    text-align: center;
  }
  header.head h1 {
    font-size: 2.4rem;
    line-height: 0.7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header.head h1 .ofThe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 3rem;
    color: #f5a623;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: cover;
    padding: 0 1rem;
  }
  header.head h1 .ofThe .of {
    padding-right: 2rem;
    position: relative;
    right: -0.5rem;
  }
  .list-name {
    margin: 0;
    font-size: 2rem;
    color: #1e95da;
    position: relative;
    display: inline-block;
  }
  header.head h3 span {
    background: #fff;
    position: relative;
    z-index: 2;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .list-name:before,
  .list-name:after {
    display: block;
    z-index: 1;
    background: rgb(19, 163, 55);
    position: absolute;
    width: 130%;
    height: 1px;
    content: '';
    top: 5px;
    margin-left: -15%;
  }
  header.head h3:after {
    top: auto;
    bottom: 7px;
  }

  .item-edit input,
  .item-edit textarea,
  .item-edit select {
    width: 33.33%;
    padding: 10px;
    line-height: 1;
    font-size: 1.2rem;
    border: 0;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0;
    background: #fff;
  }
  .item-edit input:focus,
  .item-edit textarea:focus,
  .item-edit select:focus {
    outline: 0;
    background: #fef2de;
  }
  .item-edit textarea {
    width: 100%;
  }
  .item-edit input:last-of-type {
    width: 100%;
  }
  .item-edit button {
    width: 100%;
    border: 0;
  }

  .list-of-items {
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    padding-top: 5px;
    margin-top: 2rem;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }

  .menu-stuff {
    border-bottom: 2px solid #000;
    border-top: 1px solid #000;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-bottom: 5px;
    clear: both;
    overflow: hidden;
  }
  .menu-stuff p {
    margin: 0;
    font-size: 1.8rem;
  }
  .menu-stuff .fish-name {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-stuff .price {
    font-size: 1.4rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu-stuff img {
    float: left;
    width: 150px;
    margin-right: 1rem;
  }
